*{
    box-sizing: border-box;
}

body{
    background-color: hsl(218, 23%, 16%);
    color: white;
    font-family: 'Manrope';
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}


.advice-card{
    max-width: 550px;
    background-color: hsl(218deg 20% 24%);
    text-align: center;
    padding: 1rem 2.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(193, 38%, 86%);
}

.advice-card .advice-id{
    color: hsl(150, 100%, 66%);
    /* font-family: monospace; */
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 2rem 0 1.5rem 0;
}

.advice-card .advice-text{
    font-size: 28px;
    margin-top: 0;
}

.advice-card .divider, .advice-card .divider-mobile{
    margin: 1.5rem 0 2rem 0;
}

.advice-card .divider-mobile{
    display: none;
}

.advice-card .dice{
    background-color: hsl(150, 100%, 66%);
    min-width: 65px;
    min-height: 65px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: -3rem;
    margin-right: -4px;
}

.advice-card .dice:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 1px hsl(150deg 100% 66%);
}

.dice object, .dice #icon-dice .dice-path{
    cursor: pointer;
}

.attribution a{
    color: hsl(150, 100%, 66%);
}

.attribution a:hover{
    color: hsl(150, 63%, 55%);
}

svg{
    pointer-events: all;
}

@media(max-width: 550px){
    .advice-card .divider-mobile{
        display: block;
    }
    .advice-card .divider{
        display: none;
    }
}